.main_navbar__container {
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding-inline: 1.5rem;
  color: var(--color-palette-04);
  background-color: var(--color-palette-00);

  border-bottom: 2px solid var(--color-palette-02);

  grid-column-start: start;
  grid-column-end: end;

  a {
    text-decoration: transparent;
    transition: text-decoration 0.3s ease-in;
    color: var(--color-palette-04);
    font-weight: 400;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
  }

  .navbar__logo {
    height: 24px;
  }
}
