.menu_bar__container {
  background-color: var(--color-palette-01);
  margin-top: 3rem;
  margin-inline: 0.8rem;
  width: 1.8rem;

  grid-column-start: start;
  grid-column-end: menuBar;
  grid-row-start: start;
  grid-row-end: end;

  .menu_bar__contents {
    position: fixed;

    button {
      margin-block: 0.2rem;
      height: 26px;
      border-radius: 5px;
    }
  }
}

@media (max-height: 930px) {
  .menu_bar__container {
    z-index: 5;
    display: flex;
    align-items: center;
    margin-block: 0;
    height: 5rem;
    width: 100%;
    position: sticky;
    top: 0;

    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: topMenuBar;

    .menu_bar__contents {
      flex-direction: row;
      flex-wrap: wrap;

      button {
        margin-block: 0;
        margin-inline: 0.2rem;
      }
    }
  }
}
