/* Basic Editor Styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    margin: 2rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  &:focus {
    outline: none;
  }
}

.editor__container {
  background-color: rgb(24, 24, 24);
  color: #fafafa;
  width: 100%;

  grid-column-start: sideBar;
  grid-column-end: end;
  grid-row-start: main;
  grid-row-end: end;

  .editor__content {
    grid-template-columns: 1fr;
    grid-template-rows: [start] 1fr [editor] repeat(13, 1fr) .5fr [buttons] 0.5fr [end];

    .editor__menubar {
      grid-row-start: start;
      grid-row-end: editor;
    }

    .editor {
      margin-inline: 1.5rem;
      padding: 2rem;
      border: 2px solid black;
      border-radius: 10px;

      grid-row-start: editor;
      grid-row-end: buttons;
    }

    .editor__buttons {
      margin: 1.5rem;

      grid-row-start: buttons;
      grid-row-end: end;

      button {
        img {
          height: 34px;
        }
      }
    }
  }
}
