.navbar__container {
  padding-inline: 1.5rem;

  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: sideBar;

  .navbar__content {
    height: 100%;

    div {
      width: 100%;
    }
  }
}
