@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Code font
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --color-palette-01: #222831;
  --color-palette-02: #393e46;
  --color-palette-03: #00adb5;
  --color-palette-04: #eeeeee;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Encode Sans', sans-serif;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
}

a {
  color: blueviolet;
  cursor: pointer;
}

/* Remove animation for people who've turned off  */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Scroll bar visibility */
.scroll-visibility:active::-webkit-scrollbar-thumb,
.scroll-visibility:focus::-webkit-scrollbar-thumb,
.scroll-visibility:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scroll-visibility::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  visibility: hidden;
}

.scroll-visibility::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* ----------------------------------- */
/* Utility Classes                     */
/* ----------------------------------- */
.grid {
  display: grid;
}

.grid-container-center {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: navBar;
  grid-row-end: main;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.item-center {
  justify-content: center;
  align-items: center;
}

.max-width {
  margin: 0 auto;
  max-width: 1400px;
}

.width-100 {
  width: 100%;
}

.margin-center {
  margin: 0 auto;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.editor-button {
  border: none;
  cursor: pointer;
}
