.footer__container {
  padding: 1rem;
  // color: #000;
  color: var(--color-palette-00);

  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: main;
  grid-row-end: end;

  // TODO: Delete
  outline: 1px solid var(--color-palette-04);

  .footer__contents {
    height: 300px;

    .footer__header {
      margin-block: 1rem;
      font-size: 2rem;

      img {
        height: 28px;
      }

      span {
        margin-left: 0.3rem;
        font-size: 1.5rem;
      }
    }

    .footer__body {
      .footer__link {
        margin-block: 0.6rem;

        a {
          color: var(--color-palette-00);
          text-decoration: none;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
