.sidebar__container {
  background-color: rgb(52, 52, 52);
  color: #fafafa;
  width: 100%;
  overflow-y: auto;

  grid-column-start: start;
  grid-column-end: sideBar;
  grid-row-start: sideBar;
  grid-row-end: main;

  .sidebar_search__box {
    height: 100px;
    width: 100%;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    background-color: rgb(52, 52, 52);
  }

  .sidebar__contents {
    .sidebar_note__box {
      cursor: pointer;

      .sidebar__title {
        padding-block: 1rem;
        padding-inline: 1.5rem;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 100%;

        span {
          font-size: 20px;
          width: inherit;
        }
      }

      .sidebar_close__button {
        display: none;
        margin-inline: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .sidebar_note__box:hover {
    background-color: lightblue;
    color: rgb(52, 52, 52);

    .sidebar_close__button {
      display: block;
    }
  }
}
