.sidebar__container {
  // background-color: rgb(52, 52, 52);
  background-color: var(--color-palette-02);
  color: var(--color-palette-04);
  width: 100%;
  overflow-y: auto;

  grid-column-start: start;
  grid-column-end: sideBar;
  grid-row-start: start;
  grid-row-end: end;

  .sidebar_search__box {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-palette-03);

    // position: sticky;
    // top: 0;
    // background-color: rgb(52, 52, 52);

    span {
      margin-block: 0.5rem;
      font-size: 0.8rem;
    }

    button {
      background-color: transparent;
      padding-block: 0.3rem;
      border: 1px solid var(--color-palette-03);
      border-radius: 5px;
      color: #fff;
    }

    .sidebar_user__info {
      width: 80%;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      font-weight: 600;

      a {
        text-decoration: transparent;
        color: var(--color-palette-04);
        transition: text-decoration 0.3s ease-in;
      }

      a:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        cursor: pointer;
      }
    }

    .sidebar__button {
      margin-bottom: 1rem;
      width: 80%;
    }

    .search_box__container {
      width: 80%;

      input {
        background-color: var(--color-palette-04);
        padding-inline: 0.2rem;
        width: 100%;
        border: none;
      }

      input:focus {
        outline: none;
        background-color: #fff;
      }

      input:focus::placeholder {
        color: transparent;
      }

      input::placeholder {
        text-align: center;
        font-size: 0.9rem;
      }

      button {
        margin-top: 1rem;
        width: 100%;
        // padding-block: .3rem;
        // background-color: transparent;
        // border: 1px solid lightblue;
        // color: #fff;
      }
    }

    .sidebar_overlay__container {
      height: 100%;
      width: 100%;
      cursor: pointer;

      .sidebar_overlay__msg {
        text-align: center;
        margin-block: 1rem;
      }
    }
  }

  .sidebar__contents {
    .sidebar_note__box {
      cursor: pointer;

      .sidebar__title {
        padding-block: 0.8rem;
        padding-inline: 1.5rem;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 100%;

        span {
          font-size: 14px;
          width: inherit;
        }
      }

      .sidebar_close__button {
        display: none;
        margin-inline: 1rem;
        cursor: pointer;
      }
    }
  }

  .sidebar_note__box:hover {
    background-color: var(--color-palette-03);
    color: var(--color-palette-01);

    .sidebar_close__button {
      display: block;
    }
  }
}
