.sidebar__container {
  background-color: var(--color-palette-02);
  color: var(--color-palette-04);
  width: 100%;
  overflow-y: overlay;

  grid-column-start: start;
  grid-column-end: sideBar;
  grid-row-start: navBar;
  grid-row-end: end;

  grid-template-rows: [top] 18rem [mid] auto [bottom];

  // Sidebar Menu
  .sidebar_menu__contents {
    z-index: 20;
    background-color: var(--color-palette-02);
    width: 100%;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--color-palette-03);

    grid-row-start: top;
    grid-row-end: mid;

    span {
      margin-block: 0.5rem;
      font-size: 0.8rem;
    }

    button {
      background-color: transparent;
      padding-block: 0.3rem;
      border: 1px solid var(--color-palette-03);
      border-radius: 5px;
      color: #fff;
    }

    // User Info & Hamburger Menu Button
    .sidebar_user__info {
      width: 100%;
      justify-content: space-between;
      font-weight: 600;
      padding-inline: 0.5rem;
      padding-bottom: 0.5rem;

      a {
        text-decoration: transparent;
        color: var(--color-palette-04);
        transition: text-decoration 0.3s ease-in;
      }

      a:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        cursor: pointer;
      }

      button {
        border: none;
        padding: 0;
        margin: 0;
      }

      .sidebar__menu {
        height: 24px;
        cursor: pointer;
      }
    }

    .sidebar__button {
      margin-bottom: 1rem;
      width: 100%;
    }

    .search_box__container {
      width: 100%;

      input {
        background-color: var(--color-palette-04);
        padding-inline: 0.2rem;
        width: 100%;
        border: none;
      }

      input:focus {
        outline: none;
        background-color: #fff;
      }

      input:focus::placeholder {
        color: transparent;
      }

      input::placeholder {
        text-align: center;
        font-size: 0.9rem;
      }

      button {
        margin-top: 1rem;
        width: 100%;
      }
    }

    .sidebar_overlay__container {
      height: 100%;
      width: 100%;
      padding: 1rem;
      cursor: pointer;

      .sidebar_overlay__msg {
        text-align: center;
        margin-block: 1rem;
      }
    }
  }

  // Notes
  .sidebar_notes__contents {
    overflow-y: overlay;

    grid-row-start: mid;
    grid-row-end: bottom;

    .sidebar_note__box {
      cursor: pointer;

      .sidebar__title {
        padding-block: 0.8rem;
        padding-inline: 2.5rem;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 100%;

        span {
          font-size: 14px;
          width: inherit;
        }
      }

      .sidebar_close__button {
        display: none;
        margin-inline: 1rem;
        cursor: pointer;
      }
    }

    .sidebar_note__box:hover {
      background-color: var(--color-palette-03);
      color: var(--color-palette-01);

      .sidebar_close__button {
        display: block;
      }
    }
  }
}
