.App {
  margin: auto;
  padding: 0;
  height: 100vh;
  max-width: 1400px;
  grid-template-columns: [start] repeat(4, 1fr) [sideBar] repeat(8, 1fr) [end];
  // grid-template-rows: [start] 0.15fr [main] 1.5fr 1.2fr [content] 0.2fr [end];
}
