/* Basic Editor Styles */
.ProseMirror {
  background-color: var(--color-palette-01);

  overflow-y: auto;
  padding: 1rem;
  // padding-top: 2rem;
  font-size: 1rem;

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  iframe {
    margin: 10px;
  }

  code {
    background-color: rgba(#7c7c7c, 0.25);
    color: #828080;
    font-size: 1rem;
    margin-inline: 0.2rem;
    padding-block: 0.2rem;
    padding-inline: 0.4rem;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    width: 80%;
    margin: 2rem;

    code {
      padding: 0.2rem;
      background: none;
      margin-inline: 0;
      font-size: .8rem;
      font-weight: 200;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#ffeeee, 0.3);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#ffeeee, 0.3);
    margin: 2rem 0;
  }

  &:focus {
    outline: none;
  }
}

.button__icon {
  height: 18px;
}

.highlight-text-color {
  color: black !important;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--color-palette-03);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}