.editor__container {
  background-color: var(--color-palette-01);
  color: #fafafa;
  overflow-y: overlay;

  grid-column-start: sideBar;
  grid-column-end: end;
  grid-row-start: navBar;
  grid-row-end: end;

  .editor__contents {
    grid-template-columns: [start] auto [menuBar] repeat(2, 1fr) [buttons] 1fr [end];
    grid-template-rows: [start] auto [topMenuBar] repeat(3, 1fr) [end];

    .editor_area {
      font-size: 1.3rem;
      line-height: 1.8;

      grid-column-start: menuBar;
      grid-column-end: end;
      grid-row-start: start;
      grid-row-end: end;
    }
  }
}

@media (max-height: 930px) {
  .editor_area {
    margin: 5rem 1rem;
  }
}

@media (max-width: 914px)  {
  .editor_area.hide {
    margin: 0 1rem;
  }
}

@media (max-width: 500px) {
  .editor_area.hide {
    filter: blur(10px);
  }
}