.editor__container {
  background-color: rgb(24, 24, 24);
  color: #fafafa;
  overflow-y: auto;
  grid-column-start: sideBar;
  grid-column-end: end;
  grid-row-start: sideBar;
  grid-row-end: main;

  .editor__content {
    grid-template-columns: [start] repeat(3, 1fr) [buttons] 1fr [end];
    grid-template-rows: [start] 64px [editor] auto [buttons] 64px [end];

    .editor_area {
      font-size: 1.3rem;
      margin-inline: 4rem;
      padding: 2rem; 
      grid-column-start: start;
      grid-column-end: end;
      grid-row-start: editor;
      grid-row-end: buttons;

      background-color: black;
    }
  }
}
