.login_signup__container {
  padding-inline: 1.5rem;
  width: 480px;
  max-width: 100%;
  grid-column-start: start;
  grid-column-end: end;

  .login_signup__contents {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 0.9rem;
    height: 720px;

    .form__contents {
      height: 100%;

      form {
        padding: 0 50px;
        height: 100%;
        text-align: center;
        width: 25rem;

        h1 {
          font-size: 35px;
          font-weight: 500;
          letter-spacing: 0.2rem;
          margin-bottom: 1rem;
        }

        span {
          margin-block: 1rem;
        }

        a {
          color: #000;
          text-decoration: none;
          margin: 15px 10px;
        }

        img {
          height: 2rem;
        }

        input {
          background-color: #eee;
          border: 1px solid transparent;
          padding: 12px 15px;
          margin: 8px 0;
          width: 100%;
          transition: border 0.3s ease-in;
        }

        input:focus {
          outline: none;
          border: 1px solid gray;
        }

        button {
          border-radius: 20px;
          border: 1px solid rgb(52, 52, 52);
          background-color: rgb(52, 52, 52);
          color: #fff;
          font-size: 1rem;
          margin-block: 1rem;
          padding: 12px 45px;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
          transition: transform 0.5s ease-in-out;
          cursor: pointer;
        }

        button:focus {
          outline: none;
        }

        button:hover {
          transform: scale(1.12);
        }

        .password__link {
          margin-block: 12px;
          padding-block: 9px;
          text-decoration: transparent;
          transition: text-decoration 0.3s ease-in;
        }

        .password__link:hover {
          text-underline-offset: 8px;
          text-decoration: underline;
        }

        .form__footer {
          margin-top: 100px;
          width: 180px;

          .form_footer__button {
            margin-block: 0;
            border-radius: 0;
            border: 1px solid transparent;
            padding-inline: 0;
            background-color: #fff;
            color: #000;
            transition: border 0.3s ease-in;
            cursor: pointer;
          }

          .form_footer__button:hover {
            border: 1px solid #000;
            transform: none;
          }

        }
      }
    }
  }
}
