.login_signup__container {
  padding-inline: 1.5rem;
  width: 374px;
  max-width: 100%;
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: end;
}
.login_signup__container .login_signup__contents {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 0.9rem;
  height: 720px;
}
.login_signup__container .login_signup__contents .form__contents {
  height: 100%;
}
.login_signup__container .login_signup__contents .form__contents form {
  padding: 0 50px;
  height: 100%;
  text-align: center;
  width: 24rem;
}
.login_signup__container .login_signup__contents .form__contents form h1 {
  font-size: 2rem;
}
.login_signup__container .login_signup__contents .form__contents form span {
  margin-block: 1rem;
}
.login_signup__container .login_signup__contents .form__contents form a {
  color: var(--color-palette-01);
  text-decoration: none;
  margin: 15px 10px;
}
.login_signup__container .login_signup__contents .form__contents form img {
  height: 2rem;
}
.login_signup__container .login_signup__contents .form__contents form .password__link {
  margin-block: 12px;
  padding-block: 9px;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  transition: -webkit-text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.login_signup__container .login_signup__contents .form__contents form .password__link:hover {
  text-underline-offset: 8px;
  text-decoration: underline;
}
.login_signup__container .login_signup__contents .form__contents form .error__message {
  margin: 0;
  padding-block: 1rem;
  height: 10px;
  font-weight: bold;
  color: red;
}
.login_signup__container .login_signup__contents .form__contents form .form__footer {
  margin-top: 100px;
  width: 180px;
}
.login_signup__container .login_signup__contents .form__contents form .form__footer .form_footer__button {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 12px 45px;
  background-color: #fff;
  color: var(--color-palette-01);
  transition: border 0.3s ease-in;
  cursor: pointer;
}
.login_signup__container .login_signup__contents .form__contents form .form__footer .form_footer__button:hover {
  border: 1px solid var(--color-palette-01);
  transform: none;
}

@media all and (orientation: landscape) {
  .login_signup__container {
    margin-top: 2rem;
    width: 800px;
  }
  .login_signup__container .login_signup__contents {
    width: 100%;
    height: 340px;
  }
  .login_signup__container .login_signup__contents .form__contents {
    width: 100%;
  }
  .login_signup__container .login_signup__contents .form__contents form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "blankA blankB" "col1 col5" "col2 col6" "col3 col7" "col4 col8" "blankC col9";
  }
  .login_signup__container .login_signup__contents .form__contents form #blankA {
    height: 1.5rem;
  }
  .login_signup__container .login_signup__contents .form__contents form #col1 {
    grid-area: col1;
    margin-bottom: 0;
  }
  .login_signup__container .login_signup__contents .form__contents form #col2 {
    grid-area: col2;
  }
  .login_signup__container .login_signup__contents .form__contents form #col3 {
    grid-area: col3;
  }
  .login_signup__container .login_signup__contents .form__contents form #col4 {
    grid-area: col4;
    margin-top: 0;
    width: 100%;
  }
  .login_signup__container .login_signup__contents .form__contents form #col4 span {
    margin-block: 0.5rem;
  }
  .login_signup__container .login_signup__contents .form__contents form #col4 button {
    margin: 0 auto;
    width: 10rem;
  }
  .login_signup__container .login_signup__contents .form__contents form #col5 {
    grid-area: col5;
  }
  .login_signup__container .login_signup__contents .form__contents form #col6 {
    grid-area: col6;
  }
  .login_signup__container .login_signup__contents .form__contents form #col7 {
    grid-area: col7;
  }
  .login_signup__container .login_signup__contents .form__contents form #col8 {
    grid-area: col8;
  }
  .login_signup__container .login_signup__contents .form__contents form #col9 {
    grid-area: col9;
    padding-block: 0;
    height: 2rem;
  }
  .login_signup__container .login_signup__contents .form__contents form span {
    margin-block: 0;
  }
  .login_signup__container .login_signup__contents .form__contents form .form__footer {
    margin-top: 0;
  }
}
@media (max-height: 915px) {
  .login_signup__container .login_signup__contents {
    box-shadow: none;
  }
  .login_signup__container .login_signup__contents .form__contents form .form__footer {
    margin-top: 0;
  }
}
@media all and (orientation: landscape) and (max-width: 915px) {
  .login_signup__container {
    width: 640px;
    margin-top: 2.5rem;
  }
  .login_signup__container .login_signup__contents {
    box-shadow: none;
  }
  .login_signup__container .login_signup__contents .form__contents form h1 {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=LoginSignUp.css.map */