.reset_password__container {
  padding-inline: 1.5rem;
  width: 600px;
  max-width: 100%;

  grid-column-start: start;
  grid-column-end: end;

  .reset_password__contents {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 0.9rem;
    height: 420px;

    .form__contents {
      margin: 1rem;
      padding: 0 50px;
      height: 100%;

      h1 {
        margin-block: 1rem;
        text-align: center;
      }

      .reset__messages {
        blockquote {
          border-left: 3px solid var(--color-palette-03);
          padding-left: 1rem;
        }
      }

      input {
        margin-block: 1rem;
        width: 80%;
      }

      button {
        margin-block: 1rem;
        font-size: 0.8rem;
      }
    }
  }
}

@media all and (orientation: landscape) {
  .reset_password__container {
    margin-top: 1rem;

    .reset_password__contents {
      width: 100%;
      height: 300px;

      .form__contents {
        width: 100%;

        h1 {
          font-size: 1.8rem;
        }

        .reset__messages {
          font-size: .8rem;
          width: 400px;
        }

        input {
          width: 80%;
        }
      }
    }
  }
}

// Portrait
@media (max-height: 915px) {
  .reset_password__container {
    width: 100%;

    .reset_password__contents {
      box-shadow: none;
      
      .form__contents {
        h1 {
          width: 300px;
        }

        .reset__messages {
          blockquote {
            font-size: .8rem;
            width: 260px;
          }
        }
      }
    }
  }
}

// Landscape
@media all and (orientation:landscape) and (max-width: 915px) {
  .reset_password__container {
    margin: 0;

    .reset_password__contents {
      .form__contents {
        input {
          width: 42%;
        }
      }
    }
  }
}